doctype html

html(lang='en')
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Post Tweet
    link(rel='stylesheet', href='css_post_tweet/style.css')
 
  body
    form.contact(action='/insert_tweet', method='post')
      fieldset.contact-inner
        p.contact-input
          textarea(name='tweet', placeholder=`What's On Your Mind... `)
        p.contact-submit
          input(type='submit', name='submit', value='Tweet It')
